/* Import Vuetify precompiled CSS */
@import 'vuetify/styles';

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.shadow-text {
  text-shadow: 2px 2px 3px rgba(165, 171, 171, 0.5);
}

/* For Firefox */
* {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* For Chrome, Safari, and other WebKit browsers */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
